{% extends 'base.html' %}

{% block body %}
  
      <div class="row">
        <div class="col-md-4">
        {% block left %}
          
        {% endblock left %}

        </div>
        <div class="col-md-4">
          <h2>Help</h2>
          <p>This form allows your to recognize a great work done by an associate. Use this form to fill out the details of whom you want to recognize and why. This will be submitted to your manager for approval and further action. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          &nbsp;
        </div>
      </div>
{% endblock body %}
