{% extends 'randr/2parts.html' %}
{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} :: Vote for awesome work!
{% endblock title %}

{% block mainbody %}

	<h2>Vote</h2>
	
	<form action="/randr/vote/" method='post'>
		{% csrf_token %}
		
		{{ form  | crispy }}
		
		
		<input type="submit" value = 'Submit'>
	</form>
    <br/> <br/>
	
	<button id = "preview" onclick="modifyTemplate()"> Preview Template" </button>
		
	<div id="secret" style='display:none'>{{ associates }}</div>
		
	

	<div></div>
	<br/>
	
	<div id = "templ" >
		<!-- <h1 id ="to"> </h1> -->
		<h1 id = "custom_msg" > </h1>
	</div>

{% endblock mainbody %}


{% block extrajs %}

	<script type="text/javascript">
		$("#div_id_recognition_by").hide()
		$("#id_recognition_by").val( {{ recognitionBy }} )
		$("#id_recognition_by option[value={{recognitionBy}}]")  
		$('#div_id_associate').after('<div id="associatemgr" class="control-label"></div>');
		
		$('#id_associate').on('change', function() {
		  var selectedID = this.value; // or $(this).val()
		  var data = $('#secret').html();
		  var dic = $.parseJSON(data);
		  $('#associatemgr').empty()
		  $('#associatemgr').html("Reporting Manager: <b>" + dic[selectedID] + "</b><br/> <br/>") ;
		});
		
		<!--$("preview").on('click', -->
		function modifyTemplate() {
			<!-- $("#to").text($("#id_associate").val())  -->
			$("#custom_msg").text($("#id_annotation_desc").val()) 
		}
	</script>

{% endblock extrajs %}

{% block extracss %}
	
	<style type="text/css">
		#templ
		{
			background-image: url('/static/images/templates/dream.jpg');
			width : 100%;
			height: 100%;
		}
		
		#custom_msg
		{
			float: center;
			position: relative;
			margin-top: 50%;
		}
		
	</style>
{% endblock extracss %}